/*  BASE STYLES */
body{
	margin:0;
	padding: 0;
	background-image:url(../images/pixelBack5.gif);
	font-family:Arial,Helvetica,sans-serif;
}

a,  a:visited {
	color: #412315;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

h1,h2,h3,h4 {
	margin:0px;
}

.aCSS{
font-size:0.85em;
font-weight:bolder;
}

.RssDate{
font-size:0.80em;
}

h1{
	font-size:18px;
	color:#412315;	
}

h2{
	font-size:18px;
	color:#FFFFFF;
}

h3{
	font-size:14px;
	color:#FFFFFF;
}
h4{
	font-size:12px;
	color:#412315;
}

/* STRUCTURE STYLES */

/*  This style holds the parent structure for the whole page */
#page {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

#pageBack { /* fixes background problem in FireFox by adding Float */
	background-image:url("../images/bodyBackground.jpg");
	background-repeat: repeat-y;
	float:left;
	padding-left: 10px;
}

#nav {
	float:left;
	width:220px;
}

#navigation {
	margin-left: 20px;
	float: left;
	width: 200px;
	height:auto !important;
	background-image:url(../images/navBack.jpg);
	background-repeat:no-repeat;
}

/* This style is for the right parent side column, that contains blog, content, and the small widgets */
#right {
	float: left;
	width: 740px;
	background-image:url(../images/contentBack3.jpg);
	background-repeat:repeat-y;
	min-height: 800px; /* so it scales if there is no content */
}

#rightBottom {
	width:740px;
	height:50px;
	background-image:url(../images/contentBottom2.jpg);
	background-repeat:no-repeat;
	float:left;
	margin: 0 0 0 220px;
}

#header {
	width: 720px;
	height: 40px;
	margin: 0px 0 0px 0;
	float:left;
	background-color: #412315;
	padding-top: 10px;
}

#leftside {
	width: 410px;
	margin: 0 20px 0 0;
	float: left;
}

#content {
	color: #412315;
	padding: 0 0 20px 20px;
	width:390px;
	font-size:14px;
}

#rightside {
	float:left;
	width: 280px;
}

#footer {
	width: 740px;
	margin-left:220px;
	padding: 20px 0 20px 0;
	color:#412315;
	font-size:10px;
	clear:left;
}

/* This style is used structurally to clear the right floating layers so that the footer is always at the bottom of the content */
#clear {
	clear: right;
}

#clubday {
	background-color:#F4F2E3;
	border-left-width:10px;
	border-right-width:10px;
	border-bottom-width:10px;
	border-style:solid;
	width:160px;
	border-color:#F58220;
	font-size:12px;
	color:#412315;
	
	float:left;
		display:none; /* This has been set to display none untill we can remove all refrences to club a day from the HTML, at which point, this will be removed ~solo*/
}

#clubdayContent{
	padding: 8px 8px 8px 15px;
}

/* HEADER STYLES */

#header a {
	font-size: 12px;
	color:#FFFFFF;	
}

#header ul {
	float:right;
	margin-top: 0;
}

#header ul li{
	display:inline;
	list-style-image:none;
	margin-right:5px;
	padding-right:5px;
	border-right: 1px solid #fff;
}

#header ul li.last {
	border-right: 0;
}

#header img {
	float:right;
	margin:0 12px 0 0;
} 

ul.courtesyNav {
	margin-left: 0; 
	padding-left: 0;
	float:right;
}

ul.courtesyNav li {
	display:inline;
	list-style-image:none;
	margin-right:5px;
	padding-right:5px;
	border-right: 1px solid #FFFFFF;
}

ul.courtesyNav li a:hover{
	text-decoration:underline;
}

/* NAVIGATION STYLES */

#cclLogo {
	margin:50px 0 11px 17px;
	width: 150px;
	height: 100px;
}

#navigation ul.navigation {
	margin: 0; 
	padding-left: 0;
	list-style-image: none;
	list-style: none;
}

#navigation ul.navigation li ul {
	margin-top: 12px;
	margin-bottom: -5px;
	list-style:none;
	color:#412315;	
}

#navigation ul.navigation li ul a, #navigation ul.navigation li ul a:visited {
	color:#412315;
}

#navigation ul.navigation li ul li {
	margin: 0px;
	padding: 0px;
	text-indent: 0;
	margin-left: -30px;
	margin-bottom: 5px;
	font-size: 14px;

}

#navigation ul.navigation li.parent {
	margin-bottom:7px;
	margin-left:0px;
	padding-left:10px;
	padding-top:5px;
	background-image:url(../images/navButton.jpg);
	background-repeat:no-repeat;
	padding-bottom: 10px;
	display: block;
	
}

#navigation li.parent a:visited, #navigation li.parent a {
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	color:#FFFFFF;
	text-decoration: none;
}

#navBottom {
	float:left;
	background-image:url(../images/navBottom.jpg);
	background-repeat:no-repeat;
	margin-left:20px;
	width:200px;
	height:20px;
}

#contactInfo {
	background-image:url(../images/navBack.jpg);
	background-repeat:no-repeat;
	background-position: 0px -10px;
	width:200px;
	margin: 0px 20px 0 20px;
	padding: 8px 0 10px 10px;
	font-size:12px;
	color:#412315;
	float:left;
}


/* WIDGETS */
#flashBlog {
	width:720px;
	height:120px;
	float:left;
}

#contentFlash{
	background-image:url(../images/flashBack.jpg);
	background-repeat:no-repeat;
	height:280px;
	width:430px;
	margin: 0 0 40px 0;
	float:left;
	padding: 5px 0 0 5px;
}

#contentFlash object{
	
}

#CampusLifeMainPageMiddle
{
	text-align: left;
	margin: 0 auto;
}

#contentNews {
	float:left;
	background-image:url(../images/newsBack2.jpg);
	background-repeat:no-repeat;
	height:280px;
	width: 290px;
	overflow: hidden;
}

#contentEVR {
	background-image:url(../images/evrBack.jpg);
	background-repeat:no-repeat;
	margin-top:20px;
	width:290px;
	height:100px;
	float:left;
}

#evrText {
	height:100px;
	float:left;
	margin-left:72px;
	margin-top:5px;
}

#evrText h2 a:hover{
	text-decoration:none;
}

#adBox {
	/* May use for an expansion later */
}

#adTextTop a {
	background-image:url(../images/faqBack.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:219px;
	float:left;
	margin-top:20px;
	padding: 10px 0 0 70px;
}
#adTextTop a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}
#adTextMiddle a {
	background-image:url(../images/applyBack.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:219px;
	float:left;
	padding: 10px 0 0 70px;
}
#adTextMiddle a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}
#adTextBottom a {
	background-image:url(../images/aimBack.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:219px;
	float:left;
	padding: 10px 0 0 70px;
}
#adTextBottom a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}

#adPosting a {
	background-image:url(../images/postBack.jpg);
	background-repeat:no-repeat;
	height:50px;
	width:219px;
	float:left;
	padding: 10px 0 0 70px;
}
#adPosting a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}


#adStaffArtist a {
	background-image:url(../images/artistBack.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:219px;
	float:left;
	padding: 10px 0 0 70px;
}
#adStaffArtist a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}

#adFinanceCertification a {
	background-image:url(../images/financeBack.jpg);
	background-repeat:no-repeat;
	height:38px; /*changed from 100 ~Solo*/
	width:219px;
	float:left;
	padding: 3px 0 0 70px;
}
#adFinanceCertification a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}

#adRLI a {
	background-image:url(../images/RLIBack.jpg);
	background-repeat:no-repeat;
	height:100px;
	width:219px; /*hackish fix untill we get the new image from staff art, once the new image is there, change back to 220 ~solo*/
	float:left;
	padding: 3px 0 0 70px;
}

#adRLI a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}

#studentAffairsGAEmployment a {
	background-image:url(../images/applyBack.jpg);
	background-repeat:no-repeat;
	height:38px;
	width:219px;
	float:left;
	padding: 3px 0 0 70px;
}

#studentAffairsGAEmployment a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}

#adTextForum a {
	background-image:url(../images/forumBack.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:220px;
	float:left;
	padding: 10px 0 0 70px;
}
#adTextForum a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}

#adTextBlog a {
	background-image:url(../images/blogBack.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:220px;
	float:left;
	padding: 10px 0 0 70px;
}
#adTextBlog a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}

#adTextRequest a {
	background-image:url(../images/requestBack.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:220px;
	float:left;
	padding: 10px 0 0 70px;
}
#adTextRequest a:hover {
	background-position: -290px 0px;
	text-decoration:none;
}

#gaImage {
	background-image:url(../images/ga_flyer.png);
}

.adText{
	font-size:12px;
	font-weight:bold;
	margin:0px;
	padding-left:10px;
}

.adLink{
	font-size:18px;
	font-weight:bold;
	color:#412315;
	margin:0px;
}
a.footerLink { color:#FFFFFF;}
a.specialLink { color:#412315; }

a.specialLink:hover{color:#FFFFFF;}

a.contactLink { color:#412315; text-decoration:none; }

a.contactLink:hover{ color:#412315; text-decoration:underline; }

#about, #clubs, #fratsorlife, #form_club, #specialevents, #services, #advisorinfo, #sau, #techcrew, #thesource {
	height: 0;
	opacity: 0;
	display: none;
}

#cclSearchBox
{
	border: #999 solid 1px;
	font-size: 9px;
}

/*Greek page to set font to symbol*/
.greek {
	font-family:Critter;
}

/* Font size scalars */
.xx_small_size {
	font-size: 0.4em;
}

.x_small_size {
	font-size: 0.6em;
}

.small_size {
	font-size: 0.8em;
}

.default_size {
	font-size: 1em;
}

.large_size {
	font-size: 1.2em;
}

.x_large_size {
	font-size: 1.4em;
}

.xx_large_size {
	font-size: 1.8em;
}

.xxx_large_size {
	font-size: 2.0em;
}

.tmp_err_box {
	background-color:#FFFFFF;
	padding: 2px;
	border-style: solid;
	border-width: 2px;
}

.subtext {
	font-size: 0.8em;
	font-style:italic;
}
