
#leftside {
	width: 405px;
	float: left;
	
}

#leftTitle {
	background-image:url(../images/subpages/subPageTitleBack.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:410px;
	padding: 5px 0 0 20px;
	float:left;
}
#content {
	color: #412315;
	padding: 10px 0 20px 20px;
	width:390px;
	font-size:14px;
	line-height:18px;
	float:left;
}
