
#leftside {
	width: 800px;
	margin: 0 0 0 0;
	float: left;
}

#leftTitle {
	background-image:url(../images/subpages/subPageTitleBack.jpg);
	background-size:720px 30px;
	background-repeat:no-repeat;
	height:30px;
	width:700px;
	padding: 5px 0 0 20px;
	float:left;
}
#rightTitle {
	background-image:url(../images/subpages/subPageTitleBack.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:270px;
	padding: 5px 0 0 20px;
	float:left;
}
#content {
	color: #412315;
	padding: 10px 0 20px 20px;
	width:650px;
	font-size:14px;
	line-height:18px;
}

#bar{
	background-image:url(../images/subpages/orangeBar.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:720px;
	padding: 3px 0 0 20px;
	float:left;
}
