<ul class="navigation">
	<li class="parent">
	<a href="about/index">About the Center</a><img src='images/bug.php'></img>
		<ul id="about">
			<li><a href="about/departments">Departments</a></li>
			<li><a href="about/profstaff">Professional Staff</a></li>
			<li><a href="about/studentstaff">Student Staff</a></li>
		</ul>
	</li>
	<li class="parent">
		<a href="clubs/index">Clubs &amp; Organizations</a>
			<ul id="clubs">
				<li><a href="https://thelink.rit.edu/Organizations">Find a Club</a></li>
				<li><a href="clubs/reviewboard">Club Review Board</a></li>
				<li><a href="clubs/mso">Major Student Orgs</a></li>
				<li><a href="clubs/resources">Resources</a></li>
				<li><a href="clubs/sginfo">Club Center</a></li>
				<li><a href="clubs/networking">Clubs at RIT<br/>(Facebook/Twitter)</a></li>
				<li><a href="clubs/clubchat">Club Chat Newsletter</a></li>
				<li><a href="/art_request/">Request Artwork</a></li>
				<li></li>
			</ul>
	</li>
	<li class="parent">
		<a href="form_club/index">Form A New Club</a>
			<ul id="form_club">
				<li><a href="https://thelink.rit.edu/form/start/23334">Intent To Form</a></li>
				<li><a href="https://thelink.rit.edu/form/start/23336">Club Recognition Form</a></li>
			</ul>
	</li>
	<li class="parent">
		<a href="http://greek.rit.edu">Fraternity &amp; Sorority Life</a>
	</li>
	<li class="parent">
		<a href="specialevents/index">Special Events</a>
			<ul id="specialevents">
				<li><a href="specialevents/pas">Performing Artist Series</a></li>
				<li><a href="specialevents/css">Cultural Spotlight Series</a></li>
			</ul>
	</li>
	<li class="parent">
	<a href="sau/index">SAU / Campus Center</a>
		<ul id="sau">
			<li><a href="sau/services">Services</a></li>
			<li><a href="sau/descriptions">Room Descriptions</a></li>
		</ul>
	</li>
	<li class="parent">
	<a href="techcrew/index">Tech Crew</a>
		<ul id="techcrew">
			<li><a href="techcrew/services">Services</a></li>
			<li><a href="techcrew/setups">Room Setups</a></li>
			<li><a href="techcrew/employment">Employment</a></li>
		</ul>
	</li>
	<li class="parent">
	<a href="advisor/index">Advisor Information</a>
		<ul id="advisorinfo">
			<li><a href="advisor/forms">Forms</a></li>
			<li><a href="advisor/links">Links</a></li>
		</ul>
	</li>
</ul>