<?php require('subHeader.html'); ?>

<div style="float:right">
<form method="GET">
	<strong>Search for a Tom Club:</strong>
	<input name="searchClub" type="text" id="searchClub" size="25" maxlength="25" onKeyUp="userTyped( this.value )" autocomplete="off""/>
	<div id="resultsHolder"></div>
</form>
</div>
<br/>
<br/>
<div style="position:absolute; clear:both">
<img src="images/link.gif" border="0" alt="click link" align="left"/>&nbsp;<a href="clubs/all">All Clubs List</a>
<br/><br/>

<img src="images/link.gif" border="0" alt="click link" align="left"/>&nbsp;<a href="clubs/category?id=1&name=Career Related">Career Related</a><br/><br/>
<img src="images/link.gif" border="0" alt="click link" align="left"/>&nbsp;<a href="clubs/category?id=5&name=Cultural">Cultural</a><br/><br/>
<img src="images/link.gif" border="0" alt="click link" align="left"/>&nbsp;<a href="clubs/category?id=2&name=Hobby and Special Interest">Hobby and Special Interest</a><br/><br/>
<img src="images/link.gif" border="0" alt="click link" align="left"/>&nbsp;<a href="clubs/category?id=3&name=Music Related">Music Related</a><br/><br/>
<img src="images/link.gif" border="0" alt="click link" align="left"/>&nbsp;<a href="clubs/category?id=6&name=Religious">Religious</a><br/><br/>
<img src="images/link.gif" border="0" alt="click link" align="left"/>&nbsp;<a href="clubs/category?id=4&name=Sports">Sports</a><br/>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />





<?php require('subFooter.html'); ?>
