<?php require('subHeader.html'); ?>


<strong>Club Center</strong><br/><br/>
<img src="/main/images/link.gif" align="left" border="0"/>&nbsp; <a href="http://campuslife.rit.edu/main/clubs/sginfo" >More resources! </a><br/>Find out what you can do at the Club Center.
<br/><br/><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="https://thelink.rit.edu/organization/ClubsRIT/DocumentLibrary/View/171143"><strong>CLUB IMPORTANT DATES!</strong></a>
<br />
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="https://thelink.rit.edu/organization/ClubsRIT/DocumentLibrary/View/171145"><strong>ADVISOR IMPORTANT DATES!</strong></a>
<br/><br/><br/>


<strong>Formation and Recognition Forms</strong><br/><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="https://thelink.rit.edu/form/start/23334" target="_blank">Intent to Form Application</a>
<br/><br/>

<img src="/main/images/link_icon.png"alt="link icon" width="25" height="25" border="0"/> <a href="https://thelink.rit.edu/form/start/23336" target="_blank"><strong>New</strong> Club Recognition Form</a><br/>
<img src="/main/images/link_icon.png"alt="link icon" width="25" height="25" border="0"/> <a href="https://thelink.rit.edu/form/start/23865" target="_blank"><strong>Renewal</strong> Club Recognition Form</a><br/><br/><br/>
<!--
<strong>Quarterly Reports</strong><br/><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="views/clubs/resources/Quarterly Report Fall 2009-2010.pdf" target="_blank">Quarterly Report </a><br />
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="views/clubs/resources/YearlyReport2009-2010.pdf" target="_blank">Yearly Report </a><br/><br/><br/>

<strong>Handbook</strong><br/><br/><img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="views/clubs/resources/ClubFinanceCertificationManual.doc" target="_blank">
Club Finance Certification Manual </a><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="views/clubs/resources/PresidentHandbook.doc" target="_blank">
Club President's Handbook & Policy Manual </a><br/><br/><br/>
-->

<strong>Club Policies, Documents and Handbooks</strong><br/><br/>
<img src="/main/images/link_icon.png"alt="link icon" width="25" height="25" border="0"/> <a href="https://thelink.rit.edu/organization/ClubsRIT/DocumentLibrary" target="_blank">Clubs @ RIT</a><br/>
<!--

<strong>Budget</strong><br/><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="views/clubs/resources/Club Budget 2008-09.pdf" target="_blank">Budget Process </a><br/>
<img src="/main/images/excel.gif"alt="microsoft excel" border="0"/> <a href="views/clubs/resources/Budget Worksheet.xls" target="_blank">Budget Worksheet </a><br/>
<img src="/main/images/powerpoint.gif"alt="microsoft powerpoint" border="0"/> <a href="views/clubs/resources/Club Budget 2008_2009.ppt" target="_blank">Budget Presentation </a><br/><br/><br/>


<strong>Miscellaneous Forms</strong><br/><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="views/clubs/resources/ImportantDates.pdf" target="_blank">2009-10 Important Dates</a><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="views/clubs/resources/waiver.pdf" target="_blank">Waiver Form </a><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="views/clubs/resources/ClubAdvisorOfTheYear2007.pdf" target="_blank">Advisor of the Year Application </a><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="/main/docs/EventSubmission.pdf" target="_blank">Quarterly Calendar Event Submission Form</a><br/><br/><br/>
<img src="/main/images/icon_acrobat.gif"alt="adobe pdf" border="0"/> <a href="views/clubs/resources/ImportantDates.pdf" target="_blank">Posting/Publicity Form</a><br/>
-->
<br/><br/><br/>

The Center of Campus Life also manages the <a href="sau/descriptions" target="_self"><strong>Student Alumni Union</strong></a>. Clubs and Organizations should consult this page to view information about rooms in the SAU, like maximum occupancy and special features. This will be helpful when you are registering an event.<br/><br/><br/>

<?php require('subFooter.html'); ?>
