<?php require('subHeader.html'); ?>
<strong>College Panhellenic Council</strong><br/><br/>
The RIT College Panhellenic Association exists to promote the values of scholarship, sisterhood, and service, and to serve as an advocate for its member groups in collaboration with the RIT campus community.
<br/><br/>
The RIT College Panhellenic Association consists of all members of the following sororities: Alpha Sigma Alpha, Alpha Sigma Theta, Alpha Xi Delta, Delta Phi Epsilon, Sigma Sigma Sigma, and Zeta Tau Alpha, each 
chapter's delegate, and the College Panhellenic Executive Board. The College Panhellenic Council consists of the chapter delegates and the Executive Board members and serves as the governing body of the College 
Panhellenic Association. College Panhellenic Associations are a part of the National Panhellenic Conference, which was founded in 1902, 
as an umbrella organization for 26 inter/national women's fraternities and sororities. Each member group is autonomous as a social, 
Greek-letter society of college women and alumnae. Members are represented on over 620 college and university campuses in the United 
States and Canada and in over 4,600 alumnae associations, making up over 3.6 million sorority women in the world. The council meets 
bi-weekly to strengthen ties of communication between the chapters.  Throughout the year, the College Panhellenic Council (CPC) provides
 opportunities for interaction among all members to strengthen Greek sisterhood by sponsoring many activities including recruitment 
 events in Fall and Spring quarter, philanthropic and community service projects, speakers, a faculty/staff appreciation brunch, Sweet 
 Rewards Dessert Scholarship reception, Greek Weekend, and much more.

<br/><br/><br/>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="left" width="100">Advisor:<br/><br/></td>
		<td><a href="mailto:slkrla@rit.edu">Sharon Kompalla</a><br/><br/></td>
	</tr>
	<tr>
		<td valign="left">President:<br/><br/></td>
		<td><a href="mailto:cpcpres@rit.edu">Rya Lichtenstein </a><br/><br/></td>
	</tr>
</table>
<br/>
What is College Panhellenic Council up to? <br/>
Find out at our <a href=http://rit.facebook.com/group.php?gid=2201959881><strong>Facebook page </strong></a>
<br /><strong>or on our new website at www.rit.edu/go/sorority</strong>


<?php require('subFooter.html'); ?>