<?php require('subHeader.html'); ?>
<strong>Greeks Advocating the Mature Management of Alcohol</strong><br/><br/>
The BACCHUS and GAMMA Peer Education Network is an 
international association of college and university 
based peer education programs focusing on alcohol 
abuse prevention and other related student health 
and safety issues.<br/><br/>

GAMMA is not a group of students whose purpose is
to convince students not to drink; rather, it is an 
organization that encourages that when people drink 
they do so in a manner in which they do not cause harm 
to themselves or others. GAMMA’s sponsors projects such 
as Taxi Cab business cards, Alcohol Awareness Fairs, 
Safe Spring Break, alcohol and other drug speakers, 
and educational forums.

<br/><br/><br/>

<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="left" width="100">Advisor:<br/><br/></td>
		<td><a href="mailto:tllccl@rit.edu">Taralyn Loewenguth</a><br/><br/></td>
	</tr>
	<tr>
		<td valign="left">President:<br/><br/></td>
		<td><a href="mailto:lmh2725@rit.edu">Laura Herder</a><br/><br/></td>
	</tr>
</table>
<br/><br/><br/><br/><br/><br/><br/><br/>
<?php require('subFooter.html'); ?>