<?php require('subHeader.html'); ?>
<strong>Interfraternity Council</strong><br/><br/>
The Interfraternity Council (IFC) is the programming and 
governing body of the 12 North-American Interfraternity Conference fraternities, 
2 National Latino fraternities at RIT. Every man who joins one of these 
groups is a member of IFC. Every group has a representative or chapter 
delegate that attends the IFC meetings. These individuals are the 
communication link between IFC and their chapters.
The Interfraternity Council meets once a week. The IFC leadership is 
composed of a president and 6 executive officers. The IFC provides 
opportunities for interaction among fraternities with events such as 
Greek Weekend, various social programs, 
educational speakers and workshops, and much more.

<br/><br/><br/>

<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="left" width="100">Advisor:<br/><br/></td>
		<td><a href="mailto:rjgccl@rit.edu">Ryan Giglia</a><br/><br/></td>
	</tr>
	<tr>
		<td valign="left">President:<br/><br/></td>
		<td><a href="mailto:macsped@gmail.com">Stephen DeVay</a><br/><br/></td>
	</tr>
</table>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>

<?php require('subFooter.html'); ?>