<?php require('subHeader.html'); ?>
<strong>National Pan-Hellenic Council, Inc.</strong><br/><br/>
The RIT chapter of the National Pan-Hellenic Council, Inc. <br />
(NPHC is composed of historically African-American Greek-lettered 
fraternities and sororities. NPHC's national body includes over 
one million men and women of various ages who serve as leaders 
in their communities, places of employment, and other aspects 
of American's society. These organizations share a common bond, 
which is total commitment and dedication to the improvement of
conditions within African-American communities. 
NPHC promotes interaction, encourages cooperation, 
and provides support for each member organization.<br /><br /><br/>

<strong>Understanding Diversity</strong>
<br /><br />
<i>What makes these chapters different than IFC and CPC?</i><br />
Historically African-American Greek organizations were founded
to bringAfrican-Americans together and develop unity on 
college campuses in the early 1900s at a time when opportunities 
for blacks did not exist. The common mission statement for all 
historically African-American organizations is best articulated 
in the National Pan-Hellenic Council Inc.’s (NPHC) mission.
Find out more about the NPHC.
<br /><br />

<i>How do I become a member?</i><br />
Most of RIT’s NPHC organizations require the following: 
a) Be a full time student; 
b) Meet the minimum GPA requirement; 
c) Meet the required community service hours; 
d) Obtain formal letters of recommendation; 
e) Meet the approved guidelines set by the chapter and/or membership intake committee; 
f) Attend an informal meeting; and g) Be interviewed by the organization.
<br /><br />

<i>What does “true family” mean?</i><br />
“True Family” is a term used by members of Phi Beta Sigma and
Zeta Phi Beta for they were the first constitutionally 
bonded Greek organization. The other NPHC organizations 
hold mutual alliances to each other that are relevant based 
on their own history and founding.
<br /><br />

<i>Why do NPHC organizations have chants, calls and steps?</i><br />
Each of RIT’s NPHC organizations have nicknames, chants, calls 
and steps that are a unique way to identify that particular 
organization. However, only the privilege and responsibility 
of membership would allow someone to use the nickname, call, 
chant, or step when addressing or meeting another brother or sister.
They are to be used only by NPHC member organizations in a 
good-natured competition or rivalry. Each of the NPHC organizations
has a mutual respect for one another and must be promoted at all-times.
<br /><br />
<i>Why do NPHC organizations use Greek letters?</i><br />
NPHC organizations use the Greek letter system instead of the 
African based alphabet because Greek writing system and philosophies 
has connections to Africa, particularly Egypt. Each of the NPHC 
organizations employs some type of reference to Africa within
the organization.
<br /><br /><br/>
<strong>Membership Intake Process (MIP)</strong><br /><br/>
If interested in joining a NPHC group at RIT, please look for 
Interest Session notices posted in the buildings on campus during 
the academic year. These meetings will explain the 
membership requirements.
<br /><br />
As with all Greek organizations, each group will have its own 
individual requirements that must be met before membership is granted. 
Most organizations have membership intake once a year and require an 
interested student to have completed at least 12 hours of college credit.

<br/><br/><br/>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="left" width="100">Advisor:<br/><br/></td>
		<td><a href="mailto:jrbccl@rit.edu">Jessica Berner</a><br/><br/></td>
	</tr>
	<tr>
		<td valign="left">President:<br/><br/></td>
		<td><a href="mailto:sxo5222@rit.edu">Stephen Oyarijivbie</a><br/><br/></td>
	</tr>
</table>
<?php require('subFooter.html'); ?>