<?php require_once('subHeader.html') ?>

 <strong>Greek Alphabet</strong><br /><br />

    <table cellspacing="1" cellpadding="2">
          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek/images/letters/Alpha.gif" width="10" height="10" /> </td>
            <td> Alpha (al-fah) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Nu.gif" width="11" height="11" /></td>
            <td>Nu (new) </td>
      </tr>

          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Beta.gif" width="9" height="10" /></td>
            <td> Beta (bay-tah) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Xi.gif" width="9" height="10" /></td>
            <td>Xi (zeye) </td>
      </tr>
          <tr>

            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Gamma.gif" width="8" height="10" /><!--<span class=greek>C</span>--></td>
            <td> Gamma (Gam-ah) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Omicron.gif" width="10" height="11" /></td>
            <td>Omicron (ohm-e-cron) </td>
      </tr>
          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Delta.gif" width="9" height="10" /></td>

            <td> Delta (del-tah) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Pi.gif" width="11" height="10" /></td>
            <td>Pi (pie) </td>
      </tr>
          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Epsilon.gif" width="8" height="10" /></td>
            <td> Epsilon (ep-si-lon) </td>

            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Rho.gif" width="8" height="10" /></td>
            <td>Rho (row) </td>
      </tr>
          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Zeta.gif" width="9" height="10" /></td>
            <td> Zeta (zay-tah) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Sigma.gif" width="8" height="10" /></td>

            <td>Sigma (sig-mah) </td>
      </tr>
          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Eta.gif" width="10" height="10" /></td>
            <td> Eta (ay-tah) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Tau.gif" width="8" height="10" /></td>
            <td>Tau (taw) </td>

      </tr>
          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Theta.gif" width="10" height="11" /></td>
            <td> Theta (thay-tah) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Upsilon.gif" width="10" height="10" /></td>
            <td>Upsilon (yoop-si-lon) </td>
      </tr>

          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Iota.gif" width="4" height="10" /></td>
            <td> Iota (eye-o-tah) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Phi.gif" width="10" height="10" /></td>
            <td>Phi (fie) </td>
      </tr>
          <tr>

            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Kappa.gif" width="11" height="10" /></td>
            <td> Kappa (cap-ah) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Chi.gif" width="10" height="10" /></td>
            <td>Chi (ki) </td>
      </tr>
          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Lambda.gif" width="10" height="10" /></td>

            <td> Lambda (lam-duh) </td>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Psi.gif" width="12" height="10" /></td>
            <td>Psi (sigh) </td>
      </tr>
          <tr>
            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Mu.gif" width="12" height="10" /></td>
            <td> Mu (mew) </td>

            
      <td ><img src="http://campuslife.rit.edu/greek//images/letters/Omega.gif" width="10" height="10" /></td>
            <td>Omega (o-mega) </td>
      </tr>
        </table>
		<br/><br/>
		<strong>Greek Terms</strong><br /><br />
		<table width="100%"  border="0" cellspacing="2" cellpadding="3">
   
<tr>
		    <td valign="top" ><i>Active</i></td>
		    <td >An initiated collegiate member who is currently paying 
              dues to an undergraduate chapter. </td>
	  </tr>
	  <tr>

		    <td valign="top" ><i>Alumna</i></td>
		    <td >The graduate members of a Sorority. Plural: Alumnae. 
            </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Alumnus</i></td>
      <td >The graduated members of a Fraternity. Plural: Alumni. 
      </td>
	  </tr>

	  <tr>
		    <td valign="top" ><i>Associate Member</i></td>
		    <td >The term used to describe the period of time that 
              an individual is learning about the chapter. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Bid</i></td>
		    <td >An membership invitation extended to a prospective 
              member. </td>

	  </tr>
	  <tr>
		    <td valign="top" ><i>Bid Day</i></td>
		    <td >The last day of recruitment where a potential new 
              member accepts the bid to become a new member. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Big Brother/Big Sister</i></td>

		    <td >An active member chosen to assist and advise a new 
              member. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Brother</i></td>
		    <td >An initiated member of a fraternity. It is used as 
              a term of address when an initiated member refers to another initiated 
              member. </td>
	  </tr>
	  <tr>

		    <td valign="top" ><i>Chapter</i></td>
		    <td >The local group of undergraduate students on a particular 
              campus recognized by the university and/or the (Inter)national organization. 
            </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>College Panhellenic Council (CPH)</i></td>
		    <td >The governing body of the five National Panhellenic 
              Conference sororities, one National Latina sorority and one local 
              sorority at RIT. </td>
	  </tr>

	  <tr>
		    <td valign="top" ><i>Continuous Open Bidding</i></td>
		    <td >The period in which any group may recruit and offer 
              bids without scheduled parties or bidding. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Dry Recruitment</i></td>
		    <td >The practice of not serving alcoholic beverages at 
              recruitment functions. </td>

	  </tr>
	  <tr>
		    <td valign="top" ><i>Fraternity</i></td>
		    <td >An individual men’s Greek-Letter organization. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>GAMMA</i></td>

		    <td >Greeks Advocating the Mature Management of Alcohol. 
              A group of Greek student leaders who address the issue of misuse 
              and abuse of alcohol within the Greek system and develop educational 
              programs for the Greek community. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Greeks</i></td>
		    <td >Fraternity and sorority members.</td>
	  </tr>
	  <tr>

		    <td valign="top" ><i>Greek Organization</i></td>
		    <td >A fraternity or sorority (social, honor, or professional). 
            </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Independent</i></td>
		    <td >Slang for a person who is not affiliated with a fraternity 
              or sorority. </td>
	  </tr>

	  <tr>
		    <td valign="top" ><i>Induction</i></td>
		    <td >The ceremony in which an individual begins to become 
              a new member of a Greek organization. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Initiation</i></td>
		    <td >A ritual based ceremony that marks the acceptance 
              of a lifetime commitment to the fraternity or sorority. </td>

	  </tr>
	  <tr>
		    <td valign="top" ><i>Intake</i></td>
		    <td >The term NPHC groups use when bringing in new members 
              into the organization. Each NPHC chapter determines when they will 
              conduct intake. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Interfraternity Council (IFC)</i></td>

		    <td >The governing body of the 13 NIC fraternities, 1 National 
              Latino fraternity and one local fraternity. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Legacy</i></td>
		    <td >Someone who’s mother, father, sister or brother is 
              a member of a particular Greek-letter organization. Being a legacy 
              does not guarantee membership. </td>
	  </tr>
	  <tr>

		    <td valign="top" ><i>Membership Intake Process (MIP)</i></td>
		    <td >The joining of a NPHC organization. These organizations 
              recruit members who have a certain number of college credits and 
              grade point average. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Mixer</i></td>
		    <td >A themed party between a fraternity and sorority. 
            </td>
	  </tr>

	  <tr>
		    <td valign="top" ><i>National Pan-Hellenic Council (NPHC)</i></td>
		    <td >The umbrella organization for the nine historically 
              African-American fraternities and sororities. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>New Member</i></td>
		    <td >A new member of a fraternity or sorority aspiring 
              to become an initiated member. </td>

	  </tr>
	  <tr>
		    <td valign="top" ><i>New Member Educator</i></td>
		    <td >A sister or brother responsible for overseeing the 
              development of new members and their preparation for initiation. 
              This individual serves as a liaison between the new members and 
              the chapter. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Order of Omega</i></td>

		    <td >A national honor society for Greek members who demonstrate 
              outstanding leadership and superior academic performance. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Philanthropy</i></td>
		    <td >An effort to promote human welfare. Philanthropic 
              activity is one of the foundations of Greek-letter organizations. 
            </td>
	  </tr>
	  <tr>

		    <td valign="top" ><i>Pinning</i></td>
		    <td >See Induction. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Potential New Member</i></td>
		    <td >A non-member who is eligible to participate in the 
              recruitment process, visiting Greek organizations with an interest 
              in possibility affiliating with one organization. </td>
	  </tr>

	  <tr>
		    <td valign="top" ><i>Recruitment</i></td>
		    <td >The organized period of selecting prospective new 
              members. It is a mutual selection process. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Recruitment Counselor</i></td>
		    <td >An upper class member from a fraternity or sorority 
              chosen and trained to assist during Formal Recruitment events and 
              to advise potential new members throughout the process. </td>

	  </tr>
	  <tr>
		    <td valign="top" ><i>Rho Lambda</i></td>
		    <td >The National Panhellenic Recognition Honor Society. 
              Membership is available to both CPH and NPHC sororities. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>RUSH</i></td>

		    <td >See Recruitment. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Sister</i></td>
		    <td >An initiated member of a sorority. It is used as a 
              form of address when one initiated member refers to another member. 
            </td>
	  </tr>
	  <tr>

		    <td valign="top" ><i>Sorority</i></td>
		    <td >An individual women’s Greek organization. </td>
	  </tr>
	  <tr>
		    <td valign="top" ><i>Step Show</i></td>
		    <td >A function where the members or new members of an 
              organization perform synchronized steps. </td>
	  </tr>

	  <tr>
		    <td valign="top" ><i>Strict Silence</i></td>
		    <td >This pertains only to CPH organizations. During this 
              time, sorority women are not allowed to discuss anything about Recruitment 
              or individual sororities with potential new members except during 
              scheduled recruitment parties.</td>
	  </tr>
	</table>
	<br>
     
   
	<?php require_once('subFooter.html') ?>
