<?php require_once('subHeader.html') ?>

<?php

$row = $result->fetchrow();

echo "<strong>" . $row['Name'] . "</strong><br /><br />";
echo "Occupancy: <br />";
echo "<ul><li>with chairs: " . $row['OccChairs'] . "</li><li>without chairs: " . $row['OccNoChairs'] . "</li></ul>";
echo "Special Features: <br/>";

echo "<ul>";
for( $i=1; $i<=6; $i++ )
{
	$feature_join = "Feature" . $i;
	if( ($row[$feature_join]) != '')
	{
		echo "<li>" . $row[$feature_join] . "</li>";
	}
}
echo "</ul><br />";

if( $row['diagram'] != '' )
{
	echo "<img src=\"images/icon_acrobat.gif\"alt=\"adobe pdf\" border=\"0\"/> <a href='http://campuslife.rit.edu/sau/reservations/diagrams/" . $row['diagram'] . "'>Room Diagram</a>" . "<br /><br /><br />";
}

	if ($row['Name'] == 'Ingle Auditorium')
	{
		echo '<iframe src="http://www.360cities.net/embed_iframe/ingle-auditorium-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of Ingle Auditorium on 360cities.net" href="http://www.360cities.net/image/ingle-auditorium-the-world">Ingle Auditorium</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
	}else if($row['Name'] == 'Reading Room') {
		echo '<iframe src="http://www.360cities.net/embed_iframe/reading-room-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of the Reading Room on 360cities.net" href="http://www.360cities.net/image/reading-room-the-world">Reading Room</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
	}else if($row['Name'] == 'SAU Lobby ') {
		echo '<iframe src="http://www.360cities.net/embed_iframe/sau-lobby-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of the SAU on 360cities.net" href="http://www.360cities.net/image/sau-lobby-the-world">SAU Lobby</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
	}else if($row['Name'] == "Fireside Lounge ") {
		echo '<iframe src="http://www.360cities.net/embed_iframe/fireside-lounge-a-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of the Fireside Lounge on 360cities.net" href="http://www.360cities.net/image/fireside-lounge-a-the-world">Fireside Lounge</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
		echo '<iframe src="http://www.360cities.net/embed_iframe/fireside-lounge-b-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of the Fireside Lounge on 360cities.net" href="http://www.360cities.net/image/fireside-lounge-b-the-world">Fireside Lounge</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
	}else if($row['Name'] == 'SAU Cafe') {
		echo '<iframe src="http://www.360cities.net/embed_iframe/davis-hall-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of the SAU on 360cities.net" href="http://www.360cities.net/image/davis-hall-the-world">Davis Hall</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
	}else if($row['Name'] == 'Alumni Room') {
		echo '<iframe src="http://www.360cities.net/embed_iframe/alumni-room-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of the Alumni Room on 360cities.net" href="http://www.360cities.net/image/alumni-room-the-world">Alumni Room</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
	}else if($row['Name'] == 'Clark A') {
		echo '<iframe src="http://www.360cities.net/embed_iframe/clark-a-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of the Clark A on 360cities.net" href="http://www.360cities.net/image/clark-a-the-world-the-world">Clark A</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
	}else if($row['Name'] == '1829') {
		echo '<iframe src="http://www.360cities.net/embed_iframe/1829-room-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of 1829 Room on 360cities.net" href="http://www.360cities.net/image/1829-room-the-world">1829 Room</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
	}else {
		echo '<iframe src="http://www.360cities.net/embed_iframe/room-' . $row['Name'] . '-the-world" width="375" height="315" frameborder="0" bgcolor="#000000" target="_blank"></iframe><br/><a title="Panorama photos of Room ' . $row['Name'] . ' on 360cities.net" href="http://www.360cities.net/image/panorama-' . $row['Name'] . '">Room ' . $row['Name'] . '</a> in <a href="http://www.360cities.net/area/world" title="Panoramic images from The World">The World</a>';
	}
	if ($row['Image'])
	{
		echo "<img src='http://campuslife.rit.edu/main/images/reservations/" . $row['Image'] . "' alt='" . $row['Name']  . "'/><br /><br /><br /><br />";
	}
?>

<?php require_once('subFooter.html') ?>