<?php require('subHeader.html'); ?>

<table class="aboutDetails" cellspacing="15"> 
<th align="left">Name &amp; Title</th>
<th align="left">Phone</th>
<th align="left">E. Mail</th>

<?php


foreach ($foo as $users) 
{	

	$fullname = $users->getFirstName() . " " . $users->getLastName();
	$videphone = "";
	
	if($fullname == "Karey Pine")
	{
		$videphone = "(vp) 866.602.6794";
	}//if
	else
	{
		$videphone = "";
	}

	$html = <<<EOL

	<tr>
		<td width="200">
		<a href="about/profstaff?uId={$users->getId()}">{$users->getFirstName()}&nbsp;{$users->getLastName()}</a><br/>
		<i>{$users->getTitle()}</i>
		</td>
		<td width="150">585.475.{$users->getPhone()} <br /> $videphone </td>
		<td width="150"><a href="mailto:{$users->getEmail()}">{$users->getEmail()}</a></td>
	</tr>
EOL;
echo $html;
}

?>

</table>

<?php require('subFooter.html'); ?>
